//index

//create
.p-fileupload-upload-button, .p-fileupload-file-badge{
    display: none !important;
}
.p-fileupload-choose-button, .p-fileupload-cancel-button {
    width: 30% !important;
}
.p-fileupload-header {
    justify-content: center;
}
